{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Квик-Стей!</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    <h1>Квик-Стей!</h1>
    <p>Квик-стей - это площадка, на которой люди снимают и сдают квартиры напрямую. Без посредников, лишней комиссии и мелкого шрифта в договорах.</p>
    <a href="{% url 'products:index' %}" class="button">Подобрать квартиру!</a>
</body>

</html>

